<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Página inicial do sistema</title>
        <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    </head>
    <body>
        <div th:replace="fragments/header::header"></div>
        <main>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Data de nascimento</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Bairro</th>
                            <th scope="col">Rua</th>
                            <th scope="col">CEP</th>
                            <th scope="col">Número</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pessoa : ${pessoas}">
                            <th th:text="${pessoa.id}" scope="row"></th>
                            <td th:text="${pessoa.cpf}"></td>
                            <td th:text="${pessoa.nome}"></td>
                            <td th:text="${pessoa.dataDeNascimento}"></td>
                            <td th:text="${pessoa.sexo}"></td>
                            <td th:text="${pessoa.telefone}"></td>
                            <td th:text="${pessoa.endereco.estado}"></td>
                            <td th:text="${pessoa.endereco.cidade}"></td>
                            <td th:text="${pessoa.endereco.bairro}"></td>
                            <td th:text="${pessoa.endereco.rua}"></td>
                            <td th:text="${pessoa.endereco.cep}"></td>
                            <td th:text="${pessoa.endereco.numero}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <div th:replace="fragments/footer::footer"></div>
        <script th:src="@{js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{js/popper.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
    </body>
</html>