<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Página inicial do sistema</title>
        <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
        <link rel="stylesheet" th:href="@{/css/font-awesome-all.min.css}">

    </head>
    <body>
        <div th:replace="fragments/header::header('')"></div>
        <main>
            <div class="container">
                <h2 class="card-title"><i class="fas fa-chart-line"></i>  Dashboard</h2>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center bg-primary" style="width: 18rem; color: white">
                            <div class="card-body">
                                <h5 class="card-title">Pessoas cadastradas</h5>
                                <h3 class="card-text">999</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center bg-secondary" style="width: 18rem; color: white">
                            <div class="card-body">
                                <h5 class="card-title">Consultas marcadas</h5>
                                <h3 class="card-text">155</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center bg-success" style="width: 18rem; color: white">
                            <div class="card-body">
                                <h5 class="card-title">Consultas realizadas hoje</h5>
                                <h3 class="card-text">50</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="col-sm-6">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="fragments/footer::footer"></div>
        <script th:src="@{js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{js/popper.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>

        <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            var ctx2 = document.getElementById("myChart2").getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        </script>

    </body>
</html>