<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cadastrar pessoas</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    </head>
    <body>
        <div th:replace="fragments/header::header('consulta')"></div>
        <main>
            <div class="container">
                <div class="modal show bd-example-modal-xl" style="position: relative; display: block; z-index: 0">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <form th:object="${consulta}" th:action="@{/consulta}" method="POST">
                                <div class="modal-header">
                                    <h3 style="text-align: center"><i class="fas fa-plus-square"></i>  Cadastrar nova consulta</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="nomePaciente">Nome paciente</label>
                                        <input th:field="*{nomePaciente}" type="text" class="form-control" id="nomePaciente" placeholder="Maria"
                                               required>
                                        <div th:if="${#fields.hasErrors('nomePaciente')}" th:errors="*{nomePaciente}" class="invalid-feedback d-block"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="paciente">Paciente</label>
                                        <select th:field="*{paciente}" class="form-control" id="paciente">
                                            <option value="">Nenhum</option>
                                            <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nome}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="horario">Horário</label>
                                        <input th:field="*{horario}" type="datetime-local" class="form-control" id="horario" required>
                                        <div th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}" class="invalid-feedback d-block"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="preco">Preço</label>
                                        <input th:field="*{preco}" type="text" class="form-control" id="preco" required>
                                        <div th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}" class="invalid-feedback d-block"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tipoConsulta">Tipo consulta</label>
                                        <select th:field="*{tipo}" class="form-control" id="tipoConsulta">
                                            <option th:each="tipoConsulta : ${tiposConsulta}" th:value="${tipoConsulta.id}" th:text="${tipoConsulta.descricao}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="medico">Medico</label>
                                        <select th:field="*{medico}" class="form-control" id="medico">
                                            <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                    <a th:href="@{/consulta}" class="btn btn-warning">Voltar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="fragments/footer::footer"></div>
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>