<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Página inicial do sistema</title>
        <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    </head>
    <body>
        <div th:replace="fragments/header::header('')"></div>
        <main>
            <div class="container">
                Conteúdo
            </div>
        </main>
        <div th:replace="fragments/footer::footer"></div>
        <script th:src="@{js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{js/popper.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
    </body>
</html>