<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cadastrar tipos de consulta</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body>
        <div th:replace="fragments/header::header('tipoConsulta')"></div>
        <main>
            <div class="container">
                <form th:object="${tipoConsulta}" th:action="@{/tipoConsulta}" method="POST">
                    <div class="form-group">
                        <label for="descricao">Tipo</label>
                        <input th:field="*{descricao}" type="text" class="form-control" id="descricao" placeholder="Primeira consulta"
                               required>
                        <div th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="invalid-feedback d-block"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a th:href="@{/tipoConsulta}" class="btn btn-warning">Voltar</a>
                </form>
            </div>
        </main>
        <div th:replace="fragments/footer::footer"></div>
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>